
:root {
    --searchbar-bg: #f5f5dc;
    --searchbar-svg-padding: 12px 16px;
    --brand-svg-size: 64px;
    --nav-section-bg: white;
    --post-section-bg: beige;
    --footernav-height: 50px;
    --headernav-height: 70px;

}

/*Chrome, Edge and Safari scrollbar styling*/
*::-webkit-scrollbar {
    width: 12px;
    scrollbar-color: #cdcdcd #f0f0f0;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #cdcdcd;
}

*::-webkit-scrollbar-track{
    background: #f0f0f0;
}



a {
    text-decoration: none;
    color: initial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Firefox scrollbar styling*/
    scrollbar-width: thin;
    /*! scrollbar-color: blue orange; */
}


#root {
    min-height: 100vh;
    position:relative;
}

.display-item {
    display: block !important;
}

.post-section {
    background-color: var(--post-section-bg);
}

.post-container {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.post-container .post a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.post {

    margin: 5px 0;
    background-color: white;
    border-bottom: #b0b0b0 .01em solid;
    box-shadow: 0px 1px 0px 0px #b0b0b0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 30px 30px 1fr auto;
    grid-template-areas: 
    "project-icon post-for options-icon"
    "project-icon post-by options-icon" 
    "heading heading heading" 
    "detail detail detail" 
    "img img img"
    ;

    padding: 5px 10px;
}

img.post-img {
    grid-area: img;
}



.project-icon, .profile-icon {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.project-icon {
    grid-area: project-icon;
    align-self: center;
}

.post-for {
    grid-area: post-for;
    padding-left: 10px;
    font-size: 1.1em;
    align-self: end;
    margin: 0;
}

.post-img {
    grid-area: detail;
    max-height: 200px;
}

.post-by-container {
    grid-area: post-by;
    display: flex;
    padding-left: 10px;
    font-size: .75em;
    margin: 0px;
    align-self: start;
    align-items: start;

}

.post-by-container * {
    margin-right: 5px;
}

.options-icon {
    grid-area: options-icon;
    align-self: center;
}

.post-heading {
    grid-area: heading;
    font-size: 1.3em;
    text-transform: capitalize;
}

.post-description {
    grid-area: detail;
    align-self: start;
    margin: 0px
}


.nav-section-container {
    position: sticky;
    top: 0;
    
    z-index: 1024;

    box-shadow:0px 1px 1px #c1c1c1;

    padding: 5px 0;

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: var(--headernav-height);
    align-items: center;
    gap: 30px;

    background-color: var(--nav-section-bg);    

    width: 100%;
	justify-content: space-around;
}

.nav-section-container .profile-btn {
    display: none;
}

.nav-section-container .brand-logo {
    margin: 0 auto;
}

.nav-section-container .header-nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "home explore create-post messages";

}

.nav-section-container > img, .post-header img{
    max-width: 80px;
}

.nav-section-container > img {
    margin: 0 5px;
}

.brand-section img {
    width: var(--brand-svg-size);
}

.search-container {
    width: 100%;
}

.search-bar img {
    padding: var(--searchbar-svg-padding)
}

.search-bar {
    display: flex;
    background-color: var(--searchbar-bg);
}

.search-bar input {
    border:none;
    width: 100%;
    padding: 12px 16px;
    background-color: var(--searchbar-bg);
}

.footer-nav {
	position: sticky;
	bottom: 0;
    width: 100%;
	display: grid;

	grid-template-columns: 50px 50px 50px 50px;
    column-gap: 50px;
	grid-template-rows: 45px;
	grid-template-areas: "home explore create-post messages";
    justify-content: center;
    background: var(--nav-section-bg);
    align-items: center;
    justify-items: center;
    border-top: 1px solid black;
}

.home-button {
    grid-area: home;
}

.explore-button {
    grid-area: explore;
}

.create-post-button {
    grid-area: create-post;
}

.messages-button {
    grid-area: messages;
}

textarea {
    resize: none;
}



.notifications-container .header {
    text-align: center;
}

.search-container .results-container {
    
    border-top: 1px solid #d9d8d8;
    
    display: none;
    max-height: 300px;
    width: 100vw;
    overflow-y: scroll;
    
    position: absolute;
    width: 100%;
    top: var(--headernav-height);
    left: 0;
    padding: 5px 10px;
    background-color: #ddddc3;
    
    z-index: 2;

    border-bottom: 1px solid #575757;
}

.search-container .results-container .result-item {
    display: flex;
    padding: 5px 1vh;
    border-bottom: 1px solid #e2e2e2;
    
    text-decoration:none;
}

.search-container .results-container .result-item p{
    padding-left: 5px;
    margin: auto 0;
    text-decoration: none;
    color: initial;
    
}


/*New Styles*/





.main-section {
    display: flex;
    justify-content: center;
}

.side-nav-container .user-menu-nav .profile-icon {
    width: 5em;
    height: 5em;
}

.side-nav-container .user-menu-nav {
    padding: 10px 0;
}

.side-nav-container {

    position: relative;

    margin-right: 15px;
    width: 200px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: var(--post-section-bg) ;

    overflow:auto;

}

.side-nav-container .user-menu-nav {

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}

.side-nav-container .create-a-project {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.side-nav-container .create-a-project >img {
    width: 20px;
}

.side-nav-container .user-menu-nav .username {
    align-self: center;
    justify-self: center;
}

.side-nav-container .user-menu-nav .profile-icon {
    align-self: center;
    justify-self: center;
}

.side-nav-container .user-menu-nav a {
    
    text-decoration: none;
    color: initial;
    height: 100%;
    padding: 10px 0px;
    padding-left: 5px;
    
}

.side-nav-container .user-menu-nav a:hover:not(:first-of-type) {
    background-color: #ddddc3;
}



.create-post-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-post-section #create-post-for {
    grid-area: select;
}

.create-post-section #create-post-heading {
    grid-area: title;
}

.create-post-section #create-post-description {
    height: 150px;
    resize: none;
    grid-area: text;
}

.create-post-section #img_upload {
    grid-area: upload;
}

.create-post-section button {
    grid-area: submit;
}

.create-post-section #img_upload{
    display: none;
}

.create-post-section button {
    padding: 5px;
    height: 30px;
}


.loading-container {
    margin: auto;
}

/*Styles 2*/
 .content-container {
    width: 100%;
    padding: 0 10px;
}

.content-container .header {
    background-color: #ddddc3;
    text-align: center;
    margin-bottom: 5vh;

    font-size: 1.9rem;
    padding: 10px;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.explore-container .category-items  {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.explore-container .category-projects-container .header {
    text-align: center;
}

.explore-container .category-projects-container{
    max-height: 500px;
    overflow: auto;
    background-color: #f5f5dc;

    padding: 10px 1vw;
    margin: 10px 0;
    border-top: 1px solid #ddddc3;

}

.explore-container .category-projects-container .project-item .item-categories {
    display: flex;
    gap: 3px;
}

.explore-container .category-projects-container .project-item span{
    background-color: #ddddbd;
color: #7d7d7d;
padding: 7px;
}


.explore-container .category-item {
    width: 130px;
    height: 70px;
    border-radius: 8px;

    background-color: #ddddc3;
    color: black;
    border-color: #b5b5b5;
}

.explore-container .project-item {

    text-decoration: none;
    color: initial;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "icon name"
        "icon tags";

    border-bottom: 1px solid #ddddc3;
    align-items: center;
    height: 20vh;
    gap: 0 10px;

}

.explore-container .project-item img {
    grid-area: icon;
}

.explore-container .project-item p {
    grid-area: name;
    align-self: end;
    margin: 0;
}

.explore-container .project-item > div {
    grid-area: tags;
    align-self: start;
}

.create-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container header {
    text-align: center;
    font-size: 32px;
    padding: 10px;
}

.create-project-form > *{
    width: 80%;
}

.create-project-form .category_option {
    display: flex;
    gap: 10px;

}

.create-project-form .category_option > * {
    margin: auto 0;
    padding: 7px 10px;
}

.create-project-form div.form-floating:first-of-type {
    margin-bottom: 20px;
}

.create-project-form div.form-floating textarea {
    height: 150px;
    resize: none;
}

.create-project-form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    flex-wrap: wrap;
    gap: 5px;
    
    margin: 25px 0px;
}


.explore-nav-container .options .option a {
    padding: 0 5px;
    text-decoration: none;
    color: initial;
}

.explore-nav-container > div {
    padding-bottom: 5px;
}

.explore-nav-container p {
    margin: 0;
}

.explore-nav-container .options {
    max-height: 300px;
    overflow: auto;
    background-color: #ddddc3;
    border-radius: 5px;
    padding: 0 5px;
    margin: 8px 0 8px 15px;
}

.explore-nav-container .option .profile-icon {
    width: 40px;
    height: 40px;
}

.explore-nav-container .options .option {
    border-bottom: 1px solid rgb(198,198,198);
    padding: 5px 0;
}

.notifications-container .header{
    text-align: center;
}

.follow-btn, .unfollow-btn {
    background-color: #ddddc3;
}

/* .profile-container .profile-header-container {
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "icon name"
     "icon description" 
     "man-by man-by" 
     "btn btn";

     gap: 10px;
}

.profile-container .profile-header-container.settings {
    grid-template-areas: 
    "icon username"
    "icon fullname" 
    "btn1 btn2";
}

.profile-container .profile-header-container.settings .editDetails {
    grid-area: btn1;   
    max-width: 100px; 
}

.profile-container .profile-header-container.settings .saveDetails {
    grid-area: btn2;   
    max-width: 100px;
} */

.profile-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 5vh;
}


.profile-header-container button.message * {
    text-decoration: none;
    color: initial;
    background-color: #ddddc3;
}

.profile-body-container.settings .btn-group {
    display: flex;
    margin-top: 4vh;
    margin-left: 1vh;
}

.profile-body-container.settings .btn-group button {
    background-color: #ddddc3;
    border: none;
    padding: 2vh;
}

.profile-body-container.settings > div {
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 10px;
    align-items: center;
}

.profile-body-container.settings input {
	padding: 7px;
}

.profile-container .profile-header-container .user-name {
    padding-left: 5px;
}

.profile-header-container .project-description, .profile-header-container .fullname  {
    grid-area: description;    
}

.profile-header-container button {
    grid-area: btn;
}

.profile-header-container .project-managed-by {
    grid-area: man-by;    
}

.profile-header-container .profile-icon {
    width: max(10vh, 10vw);
    height: max(10vh, 10vw);

}

.user-chat-container {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
}

.messages-container {
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    margin-bottom: 3vh;
}


.messages-container .header{
    font-size: 5vh;
    align-items: center;
    padding-bottom: 0;

    margin-bottom: 0;
}

.messages-container .body {
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column-reverse;
    max-height:300px;
    overflow: auto;
}

.messages-container .body .msg.sending {
    align-self: end;
    padding: 2vh;
    margin: 5px 10px;
    background-color: #d0d0b6;
}

.messages-container .body .msg.recieving {
    align-self: start;
    padding: 2vh;
    margin: 5px 10px;
    background-color: #87c0ee;
    color: #464646;
}

.messages-container .body .msg.no-messages {
    text-align: center; 
    background-color: #ddddc3;
}

.messages-container .footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.messages-container .footer input {
    background-color: #ddddc3;
    border: 1px solid #b5b59e;
    padding: 5px 5px;
}

.messages-container .footer button {
    background-color: #f5f5dc;
}



@media screen and (max-width: 720px) {

    /*factor in footer nav height in mobile display*/

    #root {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .main-section {
        display: flex;
    }
    
    .nav-section-container .profile-btn {
        display: initial;
    }
    
    .create-project-form fieldset {
        display: flex;
    }
    
    .side-nav-container {
        position: fixed;
        z-index: 2;
        left: -100vw;
        transition: left 0.35s;
    }
    
    .side-nav-container.show {
        left: 0;
        transition: left 0.35s;
    }

}