:root {
    --searchbar-bg: whitesmoke;
    --searchbar-svg-padding: 12px 16px;
    --brand-svg-size: 64px;
    --nav-section-bg: white;
    --post-section-bg: beige;
    --footernav-height: 50px;
    --headernav-height: 70px

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root {
    min-height: 100vh;
}

.display-item {
    display: block !important;
}

.post-section {
    background-color: var(--post-section-bg);
}

.post-container {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.post {

    margin: 5px 0;
    background-color: white;
    border-bottom: #b0b0b0 .01em solid;
    box-shadow: 0px 1px 0px 0px #b0b0b0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 30px 30px 1fr 70px;
    grid-template-areas: 
    "project-icon post-for options-icon"
    "project-icon post-by options-icon" 
    "heading heading heading" 
    "detail detail detail" 
    ;

    padding: 5px 10px;
}

.project-icon, .profile-icon {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.project-icon {
    grid-area: project-icon;
    align-self: center;
}

.post-for {
    grid-area: post-for;
    padding-left: 10px;
    font-size: 1.1em;
    align-self: end;
    margin: 0;
}

.post-by-container {
    grid-area: post-by;
    display: flex;
    padding-left: 10px;
    font-size: .75em;
    margin: 0px;
    align-self: start;
    align-items: start;

}

.post-by-container * {
    margin-right: 5px;
}

.options-icon {
    grid-area: options-icon;
    align-self: center;
}

.post-heading {
    grid-area: heading;
    font-size: 1.3em;
    text-transform: capitalize;
}

.post-description {
    grid-area: detail;
    align-self: start;
    margin: 0px
}


.nav-section-container {
    position: sticky;
    top: 0;

    box-shadow:0px 1px 1px #c1c1c1;

    padding: 5px 0;

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 30px;

    background-color: var(--nav-section-bg);    

    width: 100%;
	justify-content: space-around;
}

.nav-section-container .brand-logo {
    margin: 0 auto;
}

.nav-section-container .header-nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "home explore create-post messages";

}

.nav-section-container > img, .post-header img{
    max-width: 50px;
}

.nav-section-container > img {
    margin: 0 5px;
}

.brand-section img {
    width: var(--brand-svg-size);
}

.search-container {
    width: 100%;
}

.search-bar img {
    padding: var(--searchbar-svg-padding)
}

.search-bar {
    display: flex;
    background-color: var(--searchbar-bg);
}

.search-bar input {
    border:none;
    width: 100%;
    padding: 12px 16px;
    background-color: var(--searchbar-bg);
}

.footer-nav {
	position: fixed;
	bottom: 0;
    width: 100%;
	display: grid;

	grid-template-columns: 50px 50px 50px 50px;
    column-gap: 50px;
	grid-template-rows: 45px;
	grid-template-areas: "home explore create-post messages";
    justify-content: center;
    background: var(--nav-section-bg);
    align-items: center;
    justify-items: center;
    border-top: 1px solid black;
}

.home-button {
    grid-area: home;
}

.explore-button {
    grid-area: explore;
}

.create-post-button {
    grid-area: create-post;
}

.messages-button {
    grid-area: messages;
}

textarea {
    resize: none;
}

.explore-container {

/*     flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    position: relative; */

}

.explore-container div {

    width: 150px;
    height: 100px;
    background-color: black;
    color: white;
}

.notifications-container .header {
    text-align: center;
}

.search-container .results-container {
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    top: 56px;
    padding: 5px 10px;
}

@media screen and (max-width: 720px) {

    /*factor in footer nav height in mobile display*/
    .main-section {
        min-height: calc(100vh - var(--headernav-height) - var(--footernav-height))
    }

}

/*New Styles*/





.main-section {
    display: flex;
    justify-content: center;
    max-height: calc(100vh - var(--headernav-height))
}

.main-section .post-container {
    min-height: calc(100vh - var(--headernav-height))
}

.side-nav-container {
    margin-right: 15px;
    width: 200px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    background-color: var(--post-section-bg) ;
    
}

.side-nav-container .user-menu-nav {

    display: grid;
    grid-template-rows: 1fr 1fr 50px 50px 50px;
    grid-template-columns: 1fr;
    align-items: center;

}

.side-nav-container .create-a-project {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.side-nav-container .create-a-project >img {
    width: 20px;
}

.side-nav-container .user-menu-nav .username {
    align-self: center;
    justify-self: center;
}

.side-nav-container .user-menu-nav .profile-icon {
    align-self: center;
    justify-self: center;
}

.side-nav-container .user-menu-nav a {
    
    text-decoration: none;
    color: initial;
    height: 100%;
    padding-top: 10px;
    padding-left: 5px;
    
}

.side-nav-container .user-menu-nav a:hover {
    background-color: whitesmoke;
}

.main-section .content-container {

}

.main.content-section {

}

.create-post-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr 1fr;
    grid-template-areas: 
        "select select"
        "title title"
        "text text"
        "upload submit";
}

.create-post-section #create-post-for {
    grid-area: select;
}

.create-post-section #create-post-heading {
    grid-area: title;
}

.create-post-section #create-post-description {
    grid-area: text;
}

.create-post-section #img_upload {
    grid-area: upload;
}

.create-post-section button {
    grid-area: submit;
}

.create-post-section #img_upload{
    display: none;
}

.create-post-section button {
    padding: 5px;
    height: 30px;
}


.loading-container {
    margin: auto;
}

/*Styles 2*/
 .content-container {
    width: 100%;
     padding: 0 10px;
    
}

.side-nav-container {
    width: 100%;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.explore-container .category-item {
    width: 130px;
    height: 70px;
    border-radius: 8px;
}

.explore-container .category-projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}